<div class="flex-container">
    <div class="search"></div>
    <div class="messages">
        <button mat-button (click)="openDialog()">New Message</button>
        <button mat-button (click)="setSelectedId()">SET ID</button>
        <ng-container *ngIf="(conversationId$ | async) as id">
            {{id}}
        </ng-container>
        <ng-container *ngIf="showSpinner">
            SHOWING SPINNER
        </ng-container>
        <!-- <ng-container *ngIf="msg.chatroomList$ | async as chats">
            <div *ngFor="let chat of chats" (click)="chatSelected(chat)">
                <mat-card>
                    <mat-card-title>
                        {{chat.title}}
                    </mat-card-title>
                    <mat-card-title>
                        {{chat.data()?.title}}
                    </mat-card-title>
                </mat-card>
            </div>
        </ng-container> -->
    </div>
</div>
